<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<style>

	td {
		border: 10px solid #373734;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-left: 25px;
	}
	
	td.details_link {
		border: none;
		text-align: center;
		font-family: arial;
		color:#f8f7f7;
	}
	
	td.details_link a, td.details_link a:visited {
		color:#f8f7f7;
	}
	</style>
  </head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		<div class='images'>
		<table cellspacing='10'>
			<tr>
				<td><a href='gallery/op4'><img src='/images/blue_3qtr_med.png' border='0'></a>

					</td>
				<td><a href='gallery/op3'><img src='/images/3_full_length_sm.png' border='0'></a></td>
				<td><a href='gallery/op2'><img src='/images/dbl_3qtr_med.png' border='0'></a></td>				
			</tr>
			<tr>
				<td class='details_link'>										
					Op. 4, after Ruckers 1624<br />
					Completed March 2010 <br />
					<a href='gallery/op4'>Details</a>
				</td>
				
				<td class='details_link'>										
					Op. 3, after Ruckers 1624<br />
					Completed March 2010 <br />					
					<a href='gallery/op3'>Details</a>
				</td>
				
				<td class='details_link'>										
					Op. 2, Zuckermann Flemish Double<br />
					Completed November 2008 <br />					
					<a href='gallery/op2'>Details</a>
				</td>
			</tr>
		</table>
		</div>	
	</div>
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	</p>
  </div> 
	
  </body>
</html>
