<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	
	<style>
		.login_form { margin: 100px; }
		input {margin: 10px;}
	</style>
	
	</head>

  <body>

  <div class='login_form'>
	<form action='photobook' method='post'>
		<div class='input1'>
		<h2>Keys login</h2>
		Username: 
		<input name='uname' size='20'>
		</div>
		
		<div class='input1'>
		Password:
		<input type='password' name='pword' size='20'>
		</div>		
		
		<input type='submit' value='enter'>
	</form>
  </div>

  </body>
</html>