<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<style>
	
		.backdrop {
			width: 1600px;
		}
		
		.header {
			width: 1600px;
		}
				
		.intro_text {
			width: 300px;
			height: 330px;
			margin: 26px;
		}
		.details_images {
			float: left;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 20px solid #373734;
			margin-right: 25px;
			margin-top: 25px;
			margin-bottom: 25px;						
		}
		.footer {
			text-align: left;
			padding-left: 50px;
			width: 1600px;
		}
	
		.footer_item {
			margin-left: 50px;
		}
	</style>

  </head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		
		<div class='intro_text'>
			<p>
				This is the first instrument I built in Kevin's studio, a Flemish Double kit from 
				Zuckermann.  I made a custom soundboard for it from Italian spruce, and also made my
				own registers and used Austin-Chancellor jacks, as well as a few other custom details.
				I finished it in November 2008 and sold it to a Bay area customer.
			</p>	
			
		</div>
		
		<div class='details_images'>
			<img src='/images/op2_sm.png'>
		</div>	

		<div class='details_images'>
			<img src='/images/op2_keywell_sm.png'>
		</div>
		
		
	</div>
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div> 
	
  </body>
</html>