<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<style>
	
		.backdrop {
			width: 1600px;
		}
		
		.intro_text {
			width: 300px;
			height: 330px;
			margin: 26px;
		}
		.details_images {
			float: left;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 20px solid #373734;
			margin-right: 25px;
			margin-top: 25px;
			margin-bottom: 25px;						
		}
		.footer {
			text-align: left;
			padding-left: 50px;
			width: 1600px;
		}
		.header {
			width: 1600px;
		}
		
		.footer_item {
			margin-left: 50px;
		}
	</style>

  </head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		
		<div class='intro_text'>
			<p>
			This instrument is the other half of my single-manual Colmar Ruckers pair, completed
			in March 2010 and sold to a Bay Area customer.  Its compass is 56 notes, G to d transposing,
			with two 8-foot choirs.	
			</p><p>
			The soundboard painting and nameboard lettering are by Elizabeth Fifield,
			and the Flemish papers in the keywell and inner case are by Grant O'Brien.  I painted the outer case
			and lid myself.	
			</p><p>
			Many thanks to Elaine Thornburgh for testing out
			the new instrument, and to <a href='http://www.youtube.com/user/queswerte'>Sisto 
				Flores</a> for his video expertise!
			
		</div>
		

		<div class='details_images'>
			<object style="height: 344px; width: 425px"><param name="movie" value="http://www.youtube.com/v/vK5dyNR5A9Y"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/vK5dyNR5A9Y" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="425" height="344"></object>
		</div>
		
		<div class='details_images'>
			<img src='/images/3qtr_sm.jpg'>
		</div>	
		
		<div class='details_images'>
			<img src='/images/3_above_sm.png'>
		</div>
				
	</div>
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div> 
	
  </body>
</html>