<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<style>
	
		.backdrop {
			width: 1600px;
		}
		
		.header {
			width: 1600px;
		}
				
		.intro_text {
			width: 300px;
			height: 330px;
			margin: 26px;
		}
		.details_images {
			float: left;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 20px solid #373734;
			margin-right: 25px;
			margin-top: 25px;
			margin-bottom: 25px;						
		}
		.footer {
			text-align: left;
			padding-left: 50px;
			width: 1600px;
		}
	
		.footer_item {
			margin-left: 50px;
		}
	</style>

  </head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		
		<div class='intro_text'>
			<p>
			This instrument is one half of a pair I built based on a harpsichord built by Ioannes Ruckers
			in 1624, known as the 'Colmar' Ruckers (because the original is in a museum in Colmar, France).
			This is a single-manual version of what was originally a double-manual instrument, and I changed
			the dimensions slightly to accomodate a transposing note, allowing it to play at either A=415 or
			A=440 pitch levels.    
			</p><p>
			The soundboard painting is by Janine Johnson, the nameboard lettering is by Elizabeth Fifield,
			and the Flemish papers in the keywell and inner case are by Grant O'Brien.  I painted the outer case
			and lid myself.	
			</p>	
			
		</div>
		
		<div class='details_images'>
			<img src='/images/blue_above_sm.png'>
		</div>	

		<div class='details_images'>
			<img src='/images/blue_full_length_sm.png'>
		</div>
		
		<div class='details_images'>
			<img src='/images/blue_front_sm.png'>
		</div>
		
	</div>
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div> 
	
  </body>
</html>