<html>
  <head>
	<title>Keys class of 2018 photobook</title>
	
	<style>
		.login_form { margin: 100px; }
		input {margin: 10px;}
	</style>
	
	</head>

  <body>

  <div class='pb'>

	<h3>Class of 2018 photobook: </h3>
	<a href='/data/Keys-2018.pdf'>Keys-2018.pdf</a>
  </div>

  </body>
</html>