<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<link type="text/css" rel="stylesheet" href="/css/slideshow.css" />	

	</head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		<div class='details_images'>
			<a href='/slideshow/14'>
			<img src='/images/construction_slideshow/09.jpg' border='0'></a>
		</div>
		<div class='intro_text'>
			<p>Construction slideshow 13</p>
			<p>Installing the soundboard.  This operation requires 50-60 go-bars and at least
				three people.  To watch it happen, see <a href='http://www.youtube.com/watch?v=6xGsQa4oa0Q'>this
					video</a>. </p>
			<br>
			<a href='/slideshow/12'><- Previous</a>
			&nbsp;			&nbsp;			&nbsp;
			<a href='/slideshow/14'>Next -></a>			
		</div>
  	</div> 
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div>

  </body>
</html>