<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<link type="text/css" rel="stylesheet" href="/css/slideshow.css" />	
	<style>
	.intro_text {
		width: 200px;
		height: 270px;
	}
	</style>
	</head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		<div class='details_images'>
			<a href='/slideshow/13'>
			<img src='/images/construction_slideshow/08a.jpg' border='0'></a>
		</div>
		<div class='intro_text'>
			<p>Construction slideshow 12</p>
			<p>The rose, gilded and ready to install into the soundboard.  The harp-playing
				angel is a traditional motif in harpsichord roses, and was associated with the
				Guild of St. Luke, which was an artisans' guild during the heyday of harpsichord
				construction, back in the 16th and 17th centuries. </p>
			<br>
			<a href='/slideshow/11'><- Previous</a>
			&nbsp;			&nbsp;			&nbsp;
			<a href='/slideshow/13'>Next -></a>			
		</div>
  	</div> 
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div>

  </body>
</html>