<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<link type="text/css" rel="stylesheet" href="/css/slideshow.css" />	

	</head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		<div class='details_images'>
			<a href='/slideshow/1'>
			<img src='/images/construction_slideshow/20.jpg' border='0'></a>
		</div>
		<div class='intro_text'>
			<p>Construction slideshow 24</p>
			<p>The finished instrument.  Doesn't it make you want to sit down and play some Bach? </p>
			<br>
			<a href='/slideshow/23'><- Previous</a>
			
		</div>
  	</div> 
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div>

  </body>
</html>