<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<link type="text/css" rel="stylesheet" href="/css/slideshow.css" />	

	</head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		<div class='details_images'>
			<a href='/slideshow/18'>
			<img src='/images/construction_slideshow/13.jpg' border='0'></a>
		</div>
		<div class='intro_text'>
			<p>Construction slideshow 17</p>
			<p>Next phase of the keyboard.  The balance pin holes are drilled, and the natural
				keys have their ebony tops. </p>
			<br>
			<a href='/slideshow/16'><- Previous</a>
			&nbsp;			&nbsp;			&nbsp;
			<a href='/slideshow/18'>Next -></a>			
		</div>
  	</div> 
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div>

  </body>
</html>