<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<style>
	
		.backdrop {
			width: 1100px;
			height: 120px;
		}
		
		.details_images, .slideshow_text {
			float: left;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 20px solid #373734;
			margin-right: 25px;
			margin-top: 25px;
			margin-bottom: 25px;						
		}

		.footer {
			text-align: left;
			padding-left: 50px;
			width: 1100px;
		}
		.header {
			width: 1100px;
		}
		
		.footer_item {
			margin-left: 50px;
		}
		
		.intro_text {
			width: 200px;
			height: 200px;
		}
	</style>
	
	</head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		<div class='details_images'>
			<a href='/construction_slideshow/slide3'>
			<img src='/images/construction_slideshow/02.jpg' border='0'></a>
		</div>
		<div class='intro_text'>
			<p>Construction slideshow 2</p>
			<p>Bentside installed. </p>
			<br>
			<a href='/slideshow/1'><- Previous</a>
			&nbsp;			&nbsp;			&nbsp;
			<a href='/slideshow/3'>Next -></a>			
		</div>
  	</div> 
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	<span class='footer_item'><a href='/'>Home</a></span>
		<span class='footer_item'><a href='/gallery'>Gallery</a></span>
	</p>
  </div>

  </body>
</html>