.backdrop {
	width: 1100px;
	height: 120px;
}

.details_images, .slideshow_text {
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 20px solid #373734;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;						
}

.footer {
	text-align: left;
	padding-left: 50px;
	width: 1100px;
}
.header {
	width: 1100px;
}

.footer_item {
	margin-left: 50px;
}

.intro_text {
	width: 200px;
	height: 200px;
}