<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
  </head>
	<style type="text/css" media="screen">
		body { background-color: #7c7a7a; }
		.header { background-color: #810202; border-bottom: 2px solid black; height: 80px; padding-top: 30px; padding-left: 20px;}
	</style>

  <body>
	<div class='header'><img src='/images/titlebar.png'></div>
	
  </body>
</html>
