<html>
  <head>
	<title>Stephen Renaker Harpsichords</title>
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<style>
	.footer {
	background-color:#810202;
	font-family:arial;
	font-size:11pt;
	margin-top:30px;
	position:absolute;
	text-align:center;
	width:98.6%;
	border-top: 3px solid black;
	margin-top: 14px;
  }
	td {
		border: 10px solid #373734;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-left: 25px;
	}
	</style>
  </head>

  <body>
	<div class='header'><a href='/'><img src='/images/titlebar.png' border='0'></a></div>
	<div class='backdrop'>
		<div class='images'>
		<table cellspacing='10'>
			<tr>
				<td><a href='gallery/large/'><img src='/images/green_3qtr_med.png' border='0'></a></td>
				<td><a href='gallery/large/'><img src='/images/blue_3qtr_med.png' border='0'></a></td>
			</tr>
		<table>
		</div>	
	<div class='footer'>
	<p>
  	Contact: <a href='mailto:info@renaker.com'>info@renaker.com</a>
	</p>
  </div> 
	
  </body>
</html>
